body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  background: rgb(209, 209, 209);
}

h1 {
  font-size: 46px;
  color: rgb(57, 71, 83);
  margin-bottom: 0px;
}

/* Botoões */

#buttons-container button {
  border: none;
  padding: 15px 15px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  margin: 25px 15px;
}

#players {
  background: rgb(39, 216, 68);
  transition: 0.3s;
}

#players:hover {
  background-image: url("img/icons8-players-64.png");
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  cursor: pointer;
  transform: scale(1.15);
}

#ai-player {
  background: red;
  transition: 0.3s;
}

#ai-player:hover {
  background-image: url("img/IA.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  cursor: pointer;
  transform: scale(1.15);
}

/* Campo do jogo da velha */
#container {
  display: flex;
  width: 300px;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;
}

.box {
  height: 100px;
  border: 5px solid black;
  box-sizing: border-box;
  flex: 1 1 33%;
}

#block-1,
#block-2,
#block-3 {
  border-top: none;
}

#block-1,
#block-4,
#block-7 {
  border-left: none;
}

#block-7,
#block-8,
#block-9 {
  border-bottom: none;
}

#block-3,
#block-6,
#block-9 {
  border-right: none;
}

/* Simbols */
.x {
  font-size: 75px;
  color: red;
  display: inline-block;
  line-height: 100px;
}
.o {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(39, 216, 68);
  border-radius: 50%;
  display: inline-block;
  margin-top: 18px;
}

/* Classe de esconder */

/*
.hide {
  display: none !important;
}
*/

#scoreboard-container {
  font-weight: bold;
  margin-top: 30px;
  font-size: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#scoreboard-container h2 {
  margin-bottom: 15px;
  font-size: 36px;
}

.score-box {
  margin: 0px 20px;
}

#x-scoreboard {
  color: red;
  margin-right: 3px;
}

#o-scoreboard {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(39, 216, 68);
  border-radius: 50%;
  margin-right: 3px;
}

/* Mensagem de vitoria */
#message p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 250px;
  width: 400px;
  font-size: 50px;
  padding: 40px 10px;
  border-radius: 30px;
  background: rgb(46, 45, 45);
  color: rgb(205, 236, 236);
  display: none;
}
